/************** Tag Selectors **************/
h1 {
  color: red;
  font-size: 100px;
}

img:hover {
  background-color: gold;
}

/************** Class Selectors **************/
/* Classes can be used to group tags */
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

.circular {
  border-radius: 100%;
}

/************** ID Selectors **************/
/* IDs are page unique */
#heading {
  color: blue;
}
