body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: dotted none none;
  border-color: #eb5e0b;
  border-width: 5px;
  height: 0;
  width: 10%;
  margin-left: 0;
}
